.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 110vh;
}
.form-box {
  position: relative;
  width: 500px;
  height: 750px;
  border: 2px solid gray;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box h2 {
  color: black;
  text-align: center;
  font-size: 32px;
}

.form-box .input-box {
  position: relative;
  margin: 30px 0;
  width: 310;
  border-bottom: 2px solid gray;
}

.form-box .input-box input {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  padding: 0 20px 0 5px;
  font-size: 16px;
}

#submit-button {
  color: #fff;
  background: blue;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

#facebook-login {
  color: #fff;
  background: #0171d3;
  border-radius: 5px;
  height: 45px;
  cursor: pointer;
}
#google-login {
  border-radius: 5px;
  height: 45px;
  cursor: pointer;
}
.social-login {
  margin-bottom: 55px;
}
.chooselogin h3 {
  display: flex;
  justify-content: center;
}
